OS / Editor junk

.DS_Store
Thumbs.db

IDE folders

.vscode/
.idea/

Logs

*.log

Python / R / Node (future safety)

pycache/
node_modules/

Data files (large or private)

data/raw_data/.csv
data/cleaned_data/.csv

BI Tools

*.pbix
*.pbit
*.twbx
*.hyper
*.tds

Backups

*.bak
*.zip
*.tar.gz